/* --- Sections ------------------------------------ */

section {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  color: var(--primaryColor);
}

section h1 {
  text-align: center;
  text-transform: uppercase;
}

section p {
  padding: 15px;
  max-width: 800px;
}

section a {
  margin-bottom: 20px;
}

section button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.25s;
}

/* --- Utility Classes ------------------------------------ */

.section-light {
  background-color: var(--primaryColor);
}

.section-medium{
  background-color: var(--medium);
}

.section-dark {
  background-color: var(--dark);
  color: var(--primaryColor);
}

.section-dark a {
  color: var(--primaryColor);
}

.section-dark a:hover {
  filter: brightness(0.8);
}

.section-small {
  min-height: 50vh;
}

/* --- Custom Classes ------------------------------------ */

section#featured-project .logo {
  position: absolute;
  z-index: 2;
  top: 1.5rem;
  left: 1.5rem;
  text-decoration: none;
  font-size: 0.8rem;
  padding-bottom: 5px;
  color: var(--dark);
  border-bottom: 1px solid var(--dark);
  filter: grayscale(1);
}

section#projects {
  flex-direction: row;
  flex-wrap: wrap;
}

section#contact ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

section#contact ul li{
  font-size: 48px;
  margin: 12px;
}

section#contact ul li a {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .section-small {
    min-height: unset;
  }
}