@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  font-family: 'Nunito', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --light: #00C0D2;
  --medium-light: #008793;
  --medium: #006D77;
  --medium-dark: #00555D;
  --dark: #00393E;
  --primaryColor: #fff;
}

#root {
  margin: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.button-dark {
  background-color: var(--dark);
  color: var(--primaryColor)
}

.button-light {
  background-color: var(--primaryColor);
  color: var(--dark);
}

.button-light:hover {
  border-color: var(--light);
  filter: brightness(0.8)
}
